table {
    border-spacing: 5px;
    border-collapse: separate;
}

tr {
}

td {
    background-color: yellow;
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    width: 110px;
    height: 110px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}
td img {
    width: 100px;
    height: 100px;
}
td.land {
    background-color: green;
}
/*td.land:active {
    opacity: 0.7;
}*/
td.sea {
    background-color: transparent;
}
td.flipped {
    background-color: black;
}
td.sunk {
    background-color: blue;
}
